<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/styles/index.css">
    <link rel="stylesheet" href="../static/styles/checkbox.css">
</head>
<body>
    <section>
        <div class = 'create_container'>
            <input type="text" class="create_input" placeholder="Write here a new goal">
            <button class="create_button">Add</button>
        </div>

        <div class="todo_container">

            <div class="todo_item">
                <div class="todo_item_header">
                    <label class="checkbox_container">
                        <input type="checkbox" >
                        <span class="checkmark"></span>
                    </label>
                    <h4>Buy Milk</h4>
                </div>
                <div class="todo_item_footer">
                    <p>07.01.2021 <span>12:10</span></p>
                    <div class="action_buttons">
                        <img src="../static/icons/star.png" />
                        <img src="../static/icons/basket.png" />
                    </div>
                </div>
            </div>

            <div class="todo_item marked">
                <div class="todo_item_header">
                    <label class="checkbox_container">
                        <input type="checkbox" >
                        <span class="checkmark"></span>
                    </label>
                    <h4>Buy Milk</h4>
                </div>
                <div class="todo_item_footer">
                    <p>07.01.2021 <span>12:10</span></p>
                    <div class="action_buttons">
                        <img src="../static/icons/yellow.png" />
                        <img src="../static/icons/basket.png" />
                    </div>
                </div>
            </div>

            <div class="todo_item done">
                <div class="todo_item_header">
                    <label class="checkbox_container">
                        <input type="checkbox" >
                        <span class="checkmark"></span>
                    </label>
                    <h4>Buy Milk</h4>
                </div>
                <div class="todo_item_footer">
                    <p>07.01.2021 <span>12:10</span></p>
                    <div class="action_buttons">
                        <img src="../static/icons/star.png" />
                        <img src="../static/icons/basket.png" />
                    </div>
                </div>
            </div>

            <div class="todo_item marked">
                <div class="todo_item_header">
                    <label class="checkbox_container">
                        <input type="checkbox" >
                        <span class="checkmark"></span>
                    </label>
                    <h4>Buy Milk</h4>
                </div>
                <div class="todo_item_footer">
                    <p>07.01.2021 <span>12:10</span></p>
                    <div class="action_buttons">
                        <img src="../static/icons/yellow.png" />
                        <img src="../static/icons/basket.png" />
                    </div>
                </div>
            </div>

            <div class="todo_item">
                <div class="todo_item_header">
                    <label class="checkbox_container">
                        <input type="checkbox" >
                        <span class="checkmark"></span>
                    </label>
                    <h4>Buy Milk</h4>
                </div>
                <div class="todo_item_footer">
                    <p>07.01.2021 <span>12:10</span></p>
                    <div class="action_buttons">
                        <img src="../static/icons/star.png" />
                        <img src="../static/icons/basket.png" />
                    </div>
                </div>
            </div>
            
            <div class="todo_item done">
                <div class="todo_item_header">
                    <label class="checkbox_container">
                        <input type="checkbox" >
                        <span class="checkmark"></span>
                    </label>
                    <h4>Buy Milk</h4>
                </div>
                <div class="todo_item_footer">
                    <p>07.01.2021 <span>12:10</span></p>
                    <div class="action_buttons">
                        <img src="../static/icons/star.png" />
                        <img src="../static/icons/basket.png" />
                    </div>
                </div>
            </div>

        </div>
    </section>
</body>
</html>